/* styles.css */
*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #0d1117;
    color: #c2d4e5;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #161b22;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-weight: 500;
    color: #bacada;
}

label {
    display: block;
    margin: 15px 0 5px;
}

select, textarea, input, button {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #30363d;
    background-color: #0d1117;
    color: #c9d1d9;
}

select:hover, textarea:hover, input:hover {
    border: 1px solid #c9d1d9;
}

input, select {
    width: 100%;
}
button {
    background-color: #c2d4e5;
    cursor: pointer;
    font-weight: bold;
    color: #0d1117;
    width: 100%;
    margin-top: 20px;
    width: calc(100% - 300px) !important;
}

button:hover {
    background-color: #bacada;
}

.playform{
    display: flex;
    gap: 40px;
    width: 100%;
}

.playform-right{
    width: 260px;
    padding: 0 16px;
}

.playform-left{
    flex: 1;
    max-width: 100%;
}
.text_area {
    display: flex !important;
    width: 100%;
    padding: 16px;
    gap: 20px;
    border: 0.1px solid #c9d1d9;
    border-radius: 10px;
}

textarea{ 
    flex: 1;
    height: 200px;
    resize: none !important;
}

.prompt-section {
    margin-top: 20px;
    background-color: #0d1117;
    padding: 5px;
    border-radius: 8px;
    color: #bacada;
    width: calc(100% - 300px) !important;
}

.output-section {
    margin-top: 20px;
    color: #161b22;
    padding: 5px;
    border-radius: 8px;
    background-color: #bacada;
    width: calc(100% - 300px) !important;
}

.output-section p, .prompt-section p {
    padding-left: 15px;
}

input[type="range"] {
    -webkit-appearance: none; 
    width: 100%; 
    height: 5px; 
    background-color: #0d1117; 
    border-radius: 5px; 
    outline: none; 
    opacity: 0.9;
    transition: opacity 0.3s;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #bacada; 
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #bacada;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #bacada;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="range"]::-moz-range-thumb:hover {
    background-color: #bacada;
}

input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    background-color: #bacada;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

@media (max-width: 768px){
    .playform {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .playform-right {
        width: 100%;
        padding: 0;
    }

    .text_area {
        flex-direction: column;
        gap: 10px;
    }

    .prompt-section, .output-section {
        width: 100% !important;
    }

    button {
        width: 100% !important;
    }

}
